.cabecalho {
  color: #00BFFF;
  background-color: #8FBC8F;
  font-family: monospace;
  font-weight: 30%;
  font-size: 40px;
  font-style: italic;
  line-height: 80px;
  margin: 0px;  
  padding-bottom: 20px;  
  text-align: center;
}

.cabecalho h3 {
  color: #CD5C5C;
}

.control-panel {
  background-color: #DEB887;
  color: #FF1493;
  font-family: monospace;
  font-size: 20px;
  line-height: 100px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 15px 0px;
}

.control-panel a{
  color: #000000;
}

.control-panel ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 80px;
}

a:hover {
  color: green;
  text-transform: uppercase;
}
main {

  background-color: #D3D3D3;
  font-family: monospace;
  position: absolute;
  text-align: center;
    
}

article {
  color:#00BFFF;
  font-size: 40px;
  position: relative;
}
.dados-cientificos {
  background-image: url(https://i.pinimg.com/originals/08/e2/de/08e2de660627467388ad0d7f56b91313.jpg);
  background-position: center;
  background-size: cover;
    
}

.dados-cientificos {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
    
}

.dados-cientificos td{
  display: inline-block;
  line-height: 50px;
  margin-left: 500px;
  margin-right: 500px;
  text-align: center;
  padding-left: 20px;
}

.forca-soco {
  color: #8FBC8F;
  float: left;
  font-size: 20px;
  display: block;
  line-height: 20px;
  padding-bottom: 200px;
  margin: 40px;
  margin-top: 0;
  padding: 10px;
  position: relative;
  text-align: justify;
  width: 40%;

    border: green solid 3px;
    
}

.forca-soco h4, .visao h4, .nomes-no-brasil h4, .video h4 {

  color: #00BFFF;
  font-size: 40px;
  line-height: 50px;
  padding: 0;
  text-align: center;
}

.forca-soco h5, .visao h5, .bibliografia h5 { 
  color: #CD5C5C;
  font-size: 30px;
  line-height: 30px;
  text-align: center; 
    
}

.forca-soco img {
  float: right;
  display: right;
  margin-top: 0;
  padding-bottom: 10px;
  width: 500px;
  border: solid red 3px;
}

.forca-soco p, .visao p, .nomes-no-brasil p {
    margin: 20px;
}

.visao {
  color: #8FBC8F;
  display: block;
  float: right;
  font-size: 20px;
  height: 1000px;
  line-height: 20px;
  padding: 40px;
  margin: 40px;
  margin-right: 50px;
  text-align: justify;
  width: 40%;

    border: red solid 3px;

}

.visao img {
  float: right;
  display: block;
  margin-right: 15px;
  margin-bottom: 300px;
  width: 480px;
  position: relative;
}

.nomes-no-brasil {
  color: #8FBC8F;
  float: left;
  font-weight: 10px;
  font-size: 20px;
  line-height: 20px;
  margin: 40px;
  margin-top: 0;
  padding: 40px;
  text-align: center;
  width: 42%;

    border: red 3px solid;
}

.nomes-no-brasil h4 {  margin-left: 15px;
}

.nomes-no-brasil a, .video a, .bibliografia a, .rodape a {
  color: #F4A460;
}

.video {
  color: #8FBC8F;
  display: block;
  float: right;
  font-size: 20px;   
  margin: 40px;
  margin-right: 48px;
  margin-top: 100px;    
  position: relative;
  text-align: center;
  width: 40%;
}

.bibliografia h4 {
  color:#00BFFF;
  font-size: 2em;
  font-weight: 10px;
}

.bibliografia {
  color: #8FBC8F;
  float: left;
  font-size: 20px;
  text-align: center;

}

.bibliografia a {
  display: inline-block;
  line-height: 50px;
  text-align: center;
}

.rodape {
  color: #8FBC8F;
  float: left;
  font-size: 15px;
  text-align: center;
  width: 100%;
}

