* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
}

#header-forms {
  border: solid 2px #778899;
  color: #8B0000;
  margin: 20px auto;
  padding: 7px;
  text-align: center;
  width: 78%;
}

.forms-container {
  margin: 0px auto;
  padding: 10px;
  width: 80%;
}

fieldset {
  border: solid 2px #778899;
  margin: 20px auto;
  padding: 15px;
}

label {
  color: #8B0000;
  font-family: 'Roboto', sans-serif;
}

select {
  margin: 10px;
  color: #483D8B;
}

input {
  border: solid 1px #778899;
  margin: 5px;
  padding: 3px;
  width: 100%;
}

#cv-textarea{
  border: solid 1px #778899;
  color: #6B8E23;
  margin: 10px 5px;
  width: 100%;
}

button {
  margin-left: 110px;
}